<a class="navbar-brand" href="/">E.V.E.</a>
{{if .Title}}
    <span class="text-light pr-2">&gt;</span>
    {{if .Href}}
    <a href="{{.Href}}" class="navbar-brand" style="font-size: 1rem">{{.Title}}</a>
    {{else}}
    <span class="navbar-brand" style="font-size: 1rem">{{.Title}}</span>
    {{end}}
{{end}}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>