{{template "form.html"}}
<script type="text/javascript">
    $(function() {
        // Adds a tag.
        $(".add-env").click(function() {
            // Removes previous action.
            var sv = $(this).parent().siblings("[name='val']");
            sv.removeClass("is-invalid");
            // Comma is used as separator, so we banned it.
            var v = $.trim(sv.val()).replace(/,/g, "");
            if (v == "") {
                // Missing value.
                sv.addClass("is-invalid");
                return
            }
            sv.val("");
            // Add it as environment values.
            var asv = $(this).parent().siblings("[name='vals']");
            var ok = false;
            var a = asv.val().split(",");
            if (a.length > 0) {
                $.each(a, function(i){
                    if (a[i] == v) {
                        ok = true
                        return false
                    }
                });
            }
            if (ok) {
                // Tag already exists.
                sv.addClass("is-invalid");
            } else {
                createTagList(v, asv, $(this).parents("form").find(".tags-env"));
                $("#saveEnv").removeAttr("disabled");
            }
        });
        // Creates a environment, a variable or a node.
        $("#nfe, #nfc, #nfn, #mfe").submit(function(e) {
            sendForm(e, $(this));
        });
        // Manages nodes list.
        mngList($("#mngNodes").find(".list-group"));
        // Edits one env.
        var ee = $("a.edit-env");
        ee.click(function(e) {
            e.preventDefault();
            var c = $(this);
            if (c.hasClass("disabled")) {
                return
            }
            // Disabled edition.
            ee.addClass("disabled")
            // Resets
            $("#mfe").attr("action", "#");
            $("#updEnvName").val("");
            $("#updEnvValues").val("");
            $("#updEnvValueTags > div").not("[hidden]").remove();
            // Loads the environment's properties to edit them.
            $.ajax({
                url: c.attr("href"),
            }).always(function () {
                // Enables re-edition.
                ee.removeClass("disabled")
            }).done(function(data) {
                // Redirects to the required page.
                $("#updEnvName").val(data.name);
                data.vals.forEach(function(tag) {
                    createTagList(tag, $("#updEnvValues"), $("#updEnvValueTags"));
                });
                $("#mfe").attr("action", c.attr("href"));
            });
        });
        // Deletes or binds one element.
        $("#deleteVar, #deleteProject, #addEnv").find("a").click(function(e) {
            e.preventDefault();
            var c = $(this)
            var b = c.parent().siblings(".modal-body");
            $.ajax({
                url: c.attr("href"),
            }).always(function () {
                // Removes previous error message.
                b.find(".alert-danger").remove();
            }).done(function(data) {
                // Redirects to the required page.
                document.location = data.response;
            }).fail(function(res) {
                // Displays the error message.
                var m = "unexpected error, please retry later";
                if (typeof res.responseJSON !== "undefined"){
                    m = res.responseJSON.response;
                }
                b.prepend("<div class=\"alert alert-danger\" role=\"alert\">"+m+"</div>");
            });
        });
        // Searches inside the list of project's variables.
        var s = $("#searchVar");
        s.find("input").keyup(function() {
            s.find("a[hidden]").removeAttr("hidden");
            var vs = $.trim($(this).val());
            if (vs == "") {
                return
            }
            s.find("a").filter(function(){
                return $(this).text().indexOf(vs) === -1;
            }).attr("hidden", "hidden");
        });
    });
</script>