<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <div class="btn-group btn-group-sm" role="nav" aria-label="Action">
        <div class="btn-group btn-group-sm" role="group">
            <button id="scopeGroup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New environment
            </button>
            <div class="dropdown-menu" aria-labelledby="scopeGroup">
                <a class="dropdown-item" data-toggle="modal" data-target="#newScope">Create a new</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#addScope">Add an existing environment</a>
                <a class="dropdown-item" data-toggle="modal" data-target="#newScope">Manage all</a>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#newConstant">New variable</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{if .Var}}Var{{else}}Project{{end}}">Delete</button>
        {{if not .Servers}}
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#newNode">New cache</button>
        {{else}}
        <a href="/projects/{{.Project.ID}}/deploy" class="btn btn-warning">Deploy</a>
        {{end}}
    </div>
    <div class="modal fade" id="newConstant" tabindex="-1" role="dialog" aria-labelledby="newConstantModalLabel" aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newConstantModalLabel">New variable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/projects/{{.Project.ID}}/var" method="post" id="nfc">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="constantName" class="form-control-label">Name:</label>
                            <input type="text" class="form-control" id="constantName" name="name" pattern="[a-zA-Z0-9-_]+" required>
                        </div>
                        <div class="form-group">
                            <label for="constantKind">Kind:</label>
                            <select class="form-control" id="constantKind" name="kind">
                                {{range .Kinds}}
                                <option value="{{.Int}}">{{.String}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{if .Envs}}
    <div class="modal fade" id="addScope" tabindex="-1" role="dialog" aria-labelledby="addScopeModalLabel" aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addScopeModalLabel">Add an existing environment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/projects/{{.Project.ID}}/env" method="post" id="nfas">
                <div class="modal-body">
                    <div class="row">
                    {{range .Envs}}
                        <div class="col-sm-12">
                            <div class="card">
                                <h6 class="card-header">
                                    <label class="mb-0">
                                        <input type="checkbox" name="envs" value="{{.ID}}" autocomplete="off" class="mr-2"> {{.Name}}
                                    </label>
                                </h6>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{range .Values}}
                                        <span class="badge badge-dark">{{.}}</span>
                                        {{end}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{end}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    {{end}}
    <div class="modal fade" id="newScope" tabindex="-1" role="dialog" aria-labelledby="newScopeModalLabel" aria-hidden="true" data-keyboard="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newScopeModalLabel">New environment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/envs" method="post" id="nfs">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="scopeName" class="form-control-label">Name:</label>
                            <input type="text" class="form-control" id="scopeName" name="name" required>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="scopeValueLabel">Value</span>
                                <input type="text" class="form-control" pattern="[a-zA-Z0-9-_]+" title="Only accepts alphanumeric chars" placeholder="Label..." aria-label="Label..." aria-describedby="scopeValueLabel" id="scopeValue" name="val">
                                <input type="hidden" name="pid" value="{{.Project.ID}}">
                                <input type="hidden" name="vals" id="scopeValues">
                                <span class="input-group-btn"><button class="btn btn-secondary" type="button" id="addScopeValue">Add</button></span>
                            </div>
                        </div>
                        <div class="row pr-3" id="scopeValueTags">
                            <div class="col-sm-4 pr-0" hidden>
                                <div class="alert p-2 alert-secondary alert-dismissible fade show" role="tag">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span class="tag">env</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{if .Var}}
    <div class="modal fade" id="deleteVar" tabindex="-1" role="dialog" aria-labelledby="deleteVarLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteVarLabel">Delete this variable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you really sure to delete the variable <b>{{.Var.Name}}</b> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/projects/{{$.Project.ID}}/var/{{.Var.ID}}/delete" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="modal fade" id="deleteProject" tabindex="-1" role="dialog" aria-labelledby="deleteProjectLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProjectLabel">Delete this project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you really sure to delete the project <b>{{.Project.Name}}</b> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/projects/{{$.Project.ID}}/delete" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {{end}}
    {{template "node.html" .}}
</div>