{{template "head.html"}}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {{template "header.html"}}
        {{template "top.html" .}}
    </nav>
</header>
<div class="container-fluid my-3">
    {{if .Err}}<div class="alert alert-danger" role="alert">{{.Err}}</div>{{end}}
    {{if not .Projects}}
    <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">Thanks to choose E.V.E. as Environment Variables Editor to administrate and deploy your environment's configuration.</p>
        <hr class="my-4">
        <p class="lead">
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newProject">Create your first project</a>
        </p>
    </div>
    {{else}}
    <div class="card-group">
        {{range $i, $p := .Projects}}
        {{if and (gt $i 0) (mod $i 3)}}</div><div class="card-group">{{end}}
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{$p.Name}}</h4>
                    <p class="card-text">{{$p.Description}}</p>
                    <a href="/project/{{$p.ID}}/" class="btn btn-primary">Manage</a>
                </div>
                <div class="card-footer">
                    {{if $p.LastUpdateTs}}<small class="text-muted">Last updated <span title="{{$p.LastUpdateTs.Format "Jan 02, 2006 15:04:05 UTC"}}">{{elapsed $p.LastUpdateTs}}</span></small>{{end}}
                    {{if $p.Deployed}}<br><small class="text-muted">Last deployed <span title="{{$p.LastDeployTs.Format "Jan 02, 2006 15:04:05 UTC"}}">{{elapsed $p.LastDeployTs}}</span></small>{{end}}
                </div>
            </div>
        {{end}}
    </div>
    {{end}}
</div>
{{template "footer.html"}}
{{template "bottom.html"}}
{{template "foot.html"}}
