{{template "head.html"}}
<header xmlns="http://www.w3.org/1999/html">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {{template "header.html" .}}
        {{template "top.html" .}}
    </nav>
</header>
<div class="container-fluid my-3">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2" id="searchVar">
            <form action="/" class="my-1">
                <div class="form-group">
                    <input type="search" name="q" class="form-control" placeholder="Search..." aria-label="Search for..." autocomplete="off" spellcheck="false" aria-autocomplete="list" aria-expanded="false" aria-labelledby="search-variable">
                </div>
            </form>
            <hr class="my-4">
            <div class="list-group small">
            {{range .Project.Vars}}
                {{if not .Deleted}}
                <a href="/projects/{{$.Project.ID}}/var/{{.ID}}" class="list-group-item px-3 py-2">{{.Name}}</a>
                {{end}}
            {{end}}
            </div>
        </div>
        <main class="col-12 col-md-9 col-xl-10">
            <form action="/projects/{{$.Project.ID}}/var/{{.Var.ID}}" method="post" id="ufv">
                <h2><span class="badge badge-secondary">{{.Var.Kind}}</span> {{.Var.Name}}</h2>
                <hr class="mt-4 mb-2">
                <div class="d-flex justify-content-end pb-3">
                    <div class="mr-auto">Last update: <span title="{{.Var.LastUpdateTs.Format "Jan 02, 2006 15:04:05 UTC"}}">{{elapsed .Var.LastUpdateTs}}</span></div>
                    <div>
                        <button type="reset" class="btn btn-sm btn-secondary">Reset</button>
                        <button type="submit" class="btn btn-sm btn-primary">Save</button>
                    </div>
                </div>
                {{if .Var.Partial}}
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> The project's environments have evolved and some of the values has been ignored.
                </div>
                {{end}}
                <table class="table table-striped table-sm table-responsive table-hover ">
                    <thead>
                        <tr>
                            <th>{{.Project.FirstEnv.Name}} / {{.Project.SecondEnv.Name}}</th>
                            {{range .Project.FirstEnv.Values}}
                            <th class="text-primary">{{.}}</th>
                            {{end}}
                            <th>
                                <input class="form-control form-control-sm border-primary edit edit-all" type="text" pattern="{{.Var.Kind.Pattern}}" placeholder="{{.Var.Kind.ZeroValue}}">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {{range $kl, $vl := .Project.SecondEnv.Values}}
                    <tr>
                        <td scope="row" class="text-dark font-weight-bold">{{$vl}}</td>
                        {{range $kc, $vc := $.Project.FirstEnv.Values}}
                        {{$kv := printf "%s%s%s%s" $.VarIDPrefix $vc $.VarIDTie $vl}}
                        {{$vv := index $.Var.Values $kv}}
                        <td><input name="{{$kv}}" value="{{$vv}}" data-text="{{html $vv}}" class="form-control form-control-sm" type="text" {{if $.Var.Kind.Pattern}}pattern="{{$.Var.Kind.Pattern}}" {{end}}placeholder="{{$.Var.Kind.ZeroValue}}"></td>
                        {{end}}
                        <td><input class="form-control form-control-sm border-primary edit edit-line" type="text" pattern="{{$.Var.Kind.Pattern}}" placeholder="{{$.Var.Kind.ZeroValue}}"></td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
                <p>
                    {{if .Project.FirstEnv.Name}}<span class="badge badge-primary">{{.Project.FirstEnv.Name}}</span> First environment<br />{{end}}
                    {{if .Project.SecondEnv.Name}}<span class="badge badge-dark">{{.Project.SecondEnv.Name}}</span> Second environment{{end}}
                </p>
            </form>
        </main>
    </div>
</div>
{{template "footer.html"}}
{{template "bottom.html"}}
{{template "table.html"}}
{{template "foot.html"}}